header{
	background-color: #24282b;
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: 5px solid #9c9c9c;
}

header a {
	color: #857F7E
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

