/*cabecera con la imagen BANNER*/
#cabecera{
	min-height: 500px;
	background: url('../img/cabecera.jpg')no-repeat 0 -400px;
	text-align: center;
	color: #fff;
}


#cabecera h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#cabera p{
	font-size: 20px;
}