input, textarea{
	width: 100%;
	height: 35px;
	border: 1px solid gray;
	margin-bottom: 5px;
}

textarea{
	height: 120px;
}

input[type="submit"]{
	background-color: #e8491d;
	color: #fff;
}