body {
	font-size: 15px;
	font-family: Arial, helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #857F7E;

}

/* . significa un class */
/* #significa un id */

.contenedor {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul {
	margin: 0;
	padding: 0;
}

.boton1{
	height: 38px;
	background: #e8491d;   /*anaranjado */
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;  /*blanco */
}

/* es para la página nosotros. html */

#col-1{
	float: left;
	width: 65%;
}

#derecha{
	float: right;
	width: 30%;
	margin-top: 10px;
}

.oscuro {
	padding: 15px;
	background-color: #35424a;
	color: #fff;
	width: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
}

/** Para la página servicios.html */

#servicios li {
	list-style: none;
	padding: 20px;
	margin-bottom: 5px;
	background-color: #e6e6e6;
	border: 1px solid #ccc;
}
